

.text{
    font-size: 22px;
    line-height: 1.6;
    color: #c4c5c5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.button{
    background: #0077ff;
    padding: 10px 20px;
    border: none;
    outline: none;
    align-items: center;
    display: flex;
    margin: 0 auto;
 }


.signinWrapper{
    margin-top: 20px;
}

.haveInvite{
    color: #0077ff;
}